@font-face {
  font-family: "iconfont"; /* Project id 3697880 */
  src: url('iconfont.woff2?t=1665467808926') format('woff2'),
       url('iconfont.woff?t=1665467808926') format('woff'),
       url('iconfont.ttf?t=1665467808926') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-xialajiantouxiao:before {
  content: "\e87e";
}

.icon-jiantoushang:before {
  content: "\e62c";
}

.icon-jiantouxia:before {
  content: "\e62d";
}

